<h2 class='header'>Faça seu Cadastramento</h2>
<div class="mainContainer">
  <div class="row margin25">
    <div class="col-md-4">
      <div class="formBox">
        <input class="uploadText" placeholder="Nome Completo " type='text' [(ngModel)]="user.name" autofocus>
        <input class="uploadText" placeholder="E-mail" type='text' [(ngModel)]="user.email">
        <input class="uploadText" placeholder="Senha" type='password' [(ngModel)]="user.password">
        <input class="uploadText" placeholder="Repita a Senha" type='password' [(ngModel)]="passwordConfirmation"
          (keydown.enter)="register()">
        <button class="input-group-text upload" type="button" (click)='register()'>
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
